.battle-overview {
    display: flex;
    flex-direction: column;
    width:100%;
    margin-right: 2rem;
    height: 80vh;
    padding-top: 0.5rem;
    padding-right: 1rem;
    
    position: relative;
    overflow-y: auto;
}

.battle-overview::-webkit-scrollbar {
  width: 8px;
  background: #222;
  background: transparent;
}
.battle-overview::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  margin: 40px;
}
.battle-overview::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.quality-overview-paper {
  width: 100%;
}

.battle-overview-value {
  color: rgb(231, 231, 231) !important;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: 600 !important;
}

.default-value {
  color: rgb(135, 135, 135) !important;
  font-family: 'Courier New', Courier, monospace !important;
  font-style: italic !important;
  font-weight: 500 !important;
}