.generator-list {
    margin-left: auto;
    justify-content: center;
    position: relative;

    font-weight: 500;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: start;
}
