.generator-list {
    margin-left: auto;
    justify-content: center;
    position: relative;

    font-weight: 500;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: start;
}

.generation-list-item {
    background-color: #242424;
    transition-duration: 0.2s;
}

.generation-list-item:hover {
    background-color: rgb(10, 149, 128);
    transition-duration: 0.2s;
    cursor: pointer;
}

