.calculation-label {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.calculation-value {
    font-family: 'Courier New', Courier, monospace;
}

.calculation-description {
    font-style: italic;
    color: rgb(175, 175, 175);
}

.calculation-formula {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
}

.calculation-container {
    color: white;
}

.quality-score-fraction {
    font-size: 11px;
}

@media screen and (max-width: 1500px) {
    .calculation-formula {
        font-size: 12px !important;
    }

    .calculation-label {
        font-size: 13px !important;
    }

    .calculation-description {
        font-size: 12px !important;
    }

    .calculation-value {
        font-size: 12px !important;
    }

    .calculation-caption {
        font-size: 12px !important;
    }
}